# Ejecutables y binarios
*.exe
*.dll
*.so
*.dylib
*.bin
*.app

# Archivos de unidades compiladas y objetos (FPC)
*.ppu
*.o
*.obj
*.compiled
*.dbg
*.dcu

# Archivos de sesión y estado de usuario de Lazarus
*.lps
*.lps.*
*.stat
*.rst

# Copias de seguridad automáticas de Lazarus
*.bak
*.~*
backup/
lib/

# Sistema y VS Code
Thumbs.db
.DS_Store
.vscode/